
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

h1 {
  font-family: "Quicksand", sans-serif;
}

.mydivclass {
  height: 50px;
  width: 50px;
  background-color: red;
  border: dotted 2px green;
  margin-left: 12em;
  padding: 4px;
}

/* Advanced selector: hover effect */
button:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.05);
}
